html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 720px;
    min-width: 400px;
    height: calc(100% - 130px);
    max-height: 800px;
    row-gap: 16px;
    flex: 1;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: lightgrey;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 45px;
    width: calc(100% - 16px);
    padding-inline: 8px;
    max-height: calc(80% / 7);
    min-height: calc(80% / 7);
    flex: 1 1 auto;
    background-color: tomato;
    color: lightcyan;
    
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: calc(80% / 7);
    min-height: fit-content;
    flex: 1 1 auto;
    column-gap: 16px;
}

.keypad {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 25%;
    /* height: 50px; */
    flex: 1 1 auto;
    height: 100%;
    box-sizing: border-box;
    background-color: mediumseagreen;
    
}

#equals {
    width: 37.5%;
}

#number0 {
    width: 37.5%;
}

.hover {
    border-style: solid;
    border-width: 4px;
    border-color: black;
} 