html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #585858;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700px;
}

h1 {
    margin: 0px;
    align-self: flex-end;
    font-weight: 600;
    font-size: 64px;
    color:#e9e5cc;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 720px;
    min-width: 400px;
    height: calc(100% - 130px);
    max-height: 800px;
    flex: 1;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 100px;
    background-color: #e9e5cc;
    border-radius: 10px;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #585858;
    max-width: 100%;
    min-width: calc(100% - 40px);
    height: calc(100% - 130px);
    max-height: 800px;
    padding-inline: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: 1;
}

#display {
    display: flex;
    justify-content: flex-end;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    align-items: center;
    font-size: 65px;
    width: calc(100% - 40px);
    padding-inline: 20px;
    max-height: calc(90% / 7);
    min-height: calc(90% / 7);
    flex: 1 1 auto;
    background-color: #882722;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #f7f083;
    
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: calc(84% / 7);
    min-height: fit-content;
    flex: 1 1 auto;
    column-gap: 16px;
}

.keypad {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    width: 25%;
    /* height: 50px; */
    flex: 1 1 auto;
    height: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e9e5cc;
    box-shadow: 0 3px 10px rgba(0,0,0,0.7);
    
}

#equals {
    width: 37.5%;
    background-color: #ff9543;
}

#number0 {
    width: 37.5%;
}

.hover {
    border-style: solid;
    border-width: 4px;
    border-color: #882722;
} 